include *.rst
include .flake8
include MANIFEST.in
include pyproject.toml
include LICENSE
recursive-include microlib *.svg
recursive-include microlib *.xml
recursive-include microlib *.po
recursive-include microlib *.mo
recursive-include microlib *.pot
recursive-include microlib *.json
recursive-include microlib *.toml
recursive-include tests *.py
recursive-include tests *.pdf
include pytest.ini
prune *.egg/
prune *.egg-info/
prune .cache/
prune .idea/
prune .pytest_cache/
prune .tox/
prune .venv/
prune build/
prune dist/
prune .git/
prune microlib.build/
prune __pycache__/
prune *.pyc
prune *~
